BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "CLK_48" SITE "A7";
IOBUF PORT "CLK_48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48.0 MHz;

LOCATE COMP "LED" SITE "A2";
IOBUF PORT "LED" IO_TYPE=LVCMOS33;

LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

# PMODA1
LOCATE COMP "AUD_OPTICAL_OUT" SITE "B11";
IOBUF PORT "AUD_OPTICAL_OUT" IO_TYPE=LVCMOS33;
